<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Responsivo</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/menu.css">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100900;1,100900&family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 </style>
</head>
<body>
  <%- include('../partials/menu') %>
<%
  let erroValidacao = { email: "", password: "" };
  let msgErro = { email: "", password: "" };

  if (listaErros && listaErros.length > 0) {
    listaErros.forEach(function(erro) {
      if (erro.path === "email") {
        erroValidacao.email = "erro";
        msgErro.email = erro.msg;
      }
      if (erro.path === "password") {
        erroValidacao.password = "erro";
        msgErro.password = erro.msg;
      }
    });
  }
%>

  <main class="login-container">
    
<h1 class="LOGIN montserrat">Login</h1>
<br>
  <section class="form-section">
        <p>Digite seus dados de acesso para entrar</p>
    <form id="loginForm" action="/login/verify" method="post" class="login-form">
      <input 
      type="text" 
      id="email" 
      name="email" 
      placeholder="Insira seu email"  
      value="<%= email %>" 
      class="input-base <%= erroValidacao.email %>" required/>
      <span class="spanerro"><%= msgErro.email %> </span>
      <input 
      type="text" 
      id="password" 
      name="password" 
      placeholder="Sua senha" 
      value="<%= password %>" 
      class="<%= erroValidacao.password %>" required/>
      <span class="spanerro"><%= msgErro.password %></span>

      <a href="#" class="forgot-password">Esqueceu a senha?</a>

    </form>
  </section> 

  <section class="actions-section">
      <button form="loginForm" type="submit" class="btn-primary">Confirmar</button>
      <button type="button" href="/cadastro" class="btn-secondary">Cadastre-se</button>

      <section class="social-login">
      <img src="/img/google.png" alt="Login com Google" />
      <img src="/img/microsoft.png" alt="Login com Microsoft" />
      <img src="/img/meta.png" alt="Login com Meta" />
      <img src="/img/Linkedi2.png" alt="Login com Linkedin" />
  </section>

    </section>
  </main>
  <script src="/js/script.js"></script>

  <footer>
    
  </footer>

</body>

</html>
